

h1{
    text-align: center;
    color: red;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 30px;
}

.div1{
    height: 200px;
    width: 200px;
    background-color:green;
}
.div2{
    height: 200px;
    width: 200px;
    background-color: yellow;
}
.div3{
    height: 200px;
    width: 200px;
    background-color: red;
}


.maman1{
    margin-bottom: 10px;
    display: flex;
}


.maman2{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.maman3{
    margin-top: 10px;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 10px;
}

.maman4{
    margin-top: 10px;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 10px;
}